# This is a basic workflow to help you get started with Actions

name: build & deploy

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  pull_request:
    branches: [ dev ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy DRF app
        uses: appleboy/ssh-action@v0.1.2
        with:
          host: ${{ secrets.SSH_HOST }}
          key: ${{ secrets.SSH_KEY }}
          username: root
          
          script: |
            cd codebase
            git pull origin:dev
            source ./venv/bin/activate
            cd auto-grader-backend
            pip install -r requirements.txt
            gunicorn -c config/gunicorn/dev.py
            echo "Successfully deployed"
            
